# Thông tin MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Thông tin email
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_FROM=

# Thông tin JWT
JWT_SIGNER_KEY=
JWT_VALID_DURATION=
JWT_REFRESHABLE_DURATION=

# Thông tin Google
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_REDIRECT_URL=
GOOGLE_SCOPE=
USER_INFO_URI=

#Thông tin cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=