.approve{
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #45a049!important;
  }
}

.reject{
  background-color: #f44336;
  color: white;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #e53935!important;
  }
}